<div class='jumbotron center'>
	<h1>About Us</h1>
	<p>We are car enthusiasts that want to help you buy or sell your car.</p>
	<p class='aubrey'>
		<p><%= image_tag("aubrey.jpg", :alt=> "aubrey feed") %></p>
		<p>CEO & Co-Founder</p>
		<p>Dream Car: Tesla Model S</p>
	</p>
	<p class='daniel'>
		<p><%= image_tag("daniel.jpg", :alt=> "daniel feed") %></p>
		<p>COO & Co-Founder</p>
		<p>Dream Car: Ford Bronco</p>
	</p>
</div>

